body {
    margin: 0;
    background-color: rgb(32, 30, 35);
    ;
}

.navbar {
    min-height: 4em;
    background-color: rgb(32, 30, 35);
    margin: 0;
    position: relative;

}

.nav{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav li {
    display: inline;
    margin-top: 0;
    font-size: 1.5rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.contact {
    margin: auto;
    width: 50%;
}

.contact ul {
    list-style-type: none;
}

.contact a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;

}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(238, 238, 238);
}

h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(238, 238, 238);
}

.personal {
  margin: auto;
  width: 50%;
  margin-top: 15%;
  border: 3px solid green;
  padding: 10px;
}

ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    padding-right: 6rem;
    /* this fix is needed for IE7- */
}
